<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Create - RTDPTI</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    <style>
        body {
            font-size: 20px;
            font-family: 'Roboto', Arial;
        }

        .title {
            text-align: center;
        }

        .wrapper {
            width: 90%;
            max-width: 1260px;
            margin: 0 auto;
        }

        .container {
            display: grid;
            grid-template-columns: 300px 300px;
            grid-gap: 10px;
        }

        ul {
            list-style-type: none;
            padding-left: 0;
            margin: 0;
        }

        #warning, .scriptWarning {
            font-size: 2em;
            color: #800000;
        }

        #busList-B, #stationList-B {
            display: flex;
            align-content: stretch;
            flex-direction: column;
        }

        .selectedBuses, .selectedStations {
            flex-grow: 1;
            background-color: #ffeead;
        }
    </style>
</head>
<body>
    <noscript>
        <h1 class="scriptWarning" style="text-align: center;">This page requires JavaScript to function properly.</h1>
    </noscript>
    <h1 class="title">Create Dashboard</h1>
    <div class="wrapper">
        <h2>Template</h2>
        <p>Choose a template for displaying transport information.</p>
        <select id="template" selected="default">
            <th:block th:each="template : ${availableTemplates}">
                <option th:text="${template}" th:value="${template}"></option>
            </th:block>
        </select>

        <h2>Switch To</h2>
        <p>If appropriate, choose a template in which to switch to every 15 seconds.</p>
        <select id="flipTo">
            <option></option>
            <th:block th:each="template : ${availableTemplates}">
                <option th:text="${template}" th:value="${template}"></option>
            </th:block>
        </select>

        <h2>Override Name</h2>
        <p>Single template only - Override the default name of the selected transport stop.</p>
        <form>
            <input id="name" type="text">
        </form>

        <h2>Timetable File</h2>
        <p>Alternatively, <a href="/timetable">upload a timetable</a> to be displayed</p>

        <h2>Select Transport</h2>
        <p>Drag and Drop transport locations to appear on the selected dashboard template:</p>

        <div class="container">
            <div id="busList-A">
                <h3>Bus Stop List</h3>
                <ul class="sortableBus">
                    <th:block th:each="bus : ${buses}">
                        <li th:id="${bus.key}" th:text="${bus.value.getLongDescription() + ' ' + bus.value.getIdentifier()}" ></li>
                    </th:block>
                </ul>
            </div>

            <div id="busList-B">
                <h3>Selected Bus Stops</h3>
                <ul class="sortableBus selectedBuses">
                </ul>
            </div>

            <div id="stationList-A">
                <h3>Station List</h3>
                <ul class="sortableStation">
                    <th:block th:each="station : ${stations}">
                        <li th:id="${station.key}" th:text="${station.value.getStationName()}"></li>
                    </th:block>
                </ul>
            </div>

            <div id="stationList-B">
                <h3>Selected Stations</h3>
                <ul class="sortableStation selectedStations">
                </ul>
            </div>
        </div>

        <p id="warning"></p>
        <button onclick="loadDashboard()">Submit</button>
    </div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
<script>
    // Jquery to allow drag and drop in lists.
    $(function() {
        var oldList, newList, item;
        $('.sortableBus').sortable({
            start: function(event, ui) {
                item = ui.item;
                newList = oldList = ui.item.parent().parent();
            },
            change: function(event, ui) {
                document.getElementById('warning').innerHTML = '';
                if(ui.sender) newList = ui.placeholder.parent().parent();
            },
            connectWith: ".sortableBus"
        }).disableSelection();
    });

    $(function() {
        var oldList, newList, item;
        $('.sortableStation').sortable({
            start: function(event, ui) {
                item = ui.item;
                newList = oldList = ui.item.parent().parent();
            },
            change: function(event, ui) {
                document.getElementById('warning').innerHTML = '';
                if(ui.sender) newList = ui.placeholder.parent().parent();
            },
            connectWith: ".sortableStation"
        }).disableSelection();
    });

    // Submit functionality
    function loadDashboard()
    {
        var template = document.querySelector('#template').value;
        var flipTo = document.querySelector('#flipTo').value;
        var name = document.querySelector('#name').value;

        // Get all selected stop codes.
        var codes = [];
        document.querySelectorAll('#busList-B .selectedBuses li')
            .forEach(function(stop) {
                codes.push(stop.id);
            });

        // Get all selected station codes.
        var crs = [];
        document.querySelectorAll('#stationList-B .selectedStations li')
            .forEach(function(station) {
                crs.push(station.id);
            });

        // Start building the query string:
        var queryString = "?";

        if(template !== "")
        {
            queryString += ("template=" + template + "&");
        }

        if(flipTo !== "")
        {
            queryString += ("flipTo=" + flipTo + "&");
        }

        if(name !== "")
        {
            queryString += ("name=" + name + "&");
        }

        if(codes.length === 0 && crs.length === 0)
        {
            document.getElementById('warning').innerHTML = "Please select some bus stops or stations to display";
        }
        else
        {
            if(codes !== undefined && codes.length !== 0)
            {
                queryString += ("code[]=" + codes.join("&code[]=") + "&");
            }

            if(crs !== undefined && crs.length !== 0)
            {
                queryString += ("crs[]=" + crs.join("&crs[]=") + "&");
            }

            window.location = '/dashboard' + queryString;
        }
    }
</script>
</body>
</html>