<html>
<head>
    <title>Upload Timetable</title>
</head>
<style>
    body {
        font-size: 20px;
        font-family: 'Roboto', Arial;
    }

    .title {
        text-align: center;
    }

    .wrapper {
        text-align: center;
    }

    .item {
        display: inline-block;
    }
</style>
<body>
<h1 class="title">Upload a Template</h1>
<div class="wrapper">
    <div class="item">
        <form action="/timetable" enctype="text/plain" method="post">
            <textarea rows=20 cols=50 type="text" name="response"></textarea>
            <input type="submit" value="submit" />
        </form>
    </div>
</div>

</body>
</html>